<mat-sidenav #sidenav mode="side" [opened]="true">
  <mat-nav-list>
    <a mat-list-item  routerLink="/home">
      <mat-icon>home</mat-icon>
      Home
    </a>
    <a mat-list-item routerLink="/condominio">
      <mat-icon>location_city</mat-icon>   
      Condomínio
    </a>
    <a mat-list-item routerLink="/apartamento">
      <mat-icon>apartment</mat-icon>  
      Apartamento
    </a>
    <a mat-list-item routerLink="/morador">
      <mat-icon>people</mat-icon>  
      Condômino
    </a>
    <a mat-list-item routerLink="/pagamento">
      <mat-icon>payment</mat-icon>  
      Pagamento
    </a>
    <a mat-list-item routerLink="/despesa">
      <mat-icon>money</mat-icon>  
      Despesa
    </a>
    <a mat-list-item routerLink="/funcionario">
      <mat-icon>person</mat-icon>  
      Funcionário
    </a>
    <a mat-list-item routerLink="/servico">
      <mat-icon>work</mat-icon>  
      Serviço
    </a>
    <a mat-list-item routerLink="/tecnico">
      <mat-icon>engineering</mat-icon>  
      Técnico
    </a>
    <a mat-list-item routerLink="/relatorio">
      <mat-icon>assessment</mat-icon>  <!-- Ícone para o item "Relatórios" -->
      Relatórios
    </a>
  </mat-nav-list>
</mat-sidenav>
